<launch>
    <node
        pkg="hardware_controller"
        type="controller_node.py"
        name="controller_node"
        output="screen">
    </node>
    
    <node
        pkg="rosserial_python"
        type="serial_node.py"
        name="sensors_node"
        output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="9600"/>
    </node>
    
    <node
        pkg="rosserial_python"
        type="serial_node.py"
        name="effectors_node"
        output="screen">
        <param name="port" value="/dev/ttyACM1"/>
        <param name="baud" value="9600"/>
    </node>
</launch>